/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Figtree", sans-serif;
    background-color: hsl(48, 89%, 60%);
}

.container {
    width: 384px;
    margin: 219px auto;
}

span {
    display: inline-block;
}

a  {
    color: black;
}

/* Card */
.card {
    width: 384px;
    height: 522px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 10px 10px;
}

.img-box {
    height: 200px;
    width: 10%%;
    margin-bottom: 24px;
}

.card-content {
    height: 194px;
    width: 100%;
    margin-bottom: 24px;
}

.label {
    background-color: hsl(48, 89%, 60%);
    border-radius: 2px;
    padding: 4px 12px;
    margin-bottom: 12px;
    font-size: 14px;
}

.pub-date {
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 14px;
}

.card-title {
    font-weight: 800;
    margin-bottom: 12px;
    font-size: 24px;
}

.card-title:hover {
    color: hsl(48, 89%, 60%);
}

.card-body {
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    line-height: 150%;
}

/* Autore */
.author {
    display: flex;
    align-items: center;
}

.author-img {
    width: 32px;
    margin-right: 12px;
}

.author-name {
    font-size: 14px;
}

/* Attribution */
.attribution {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

